{{- /*
Renders a menu for the given menu ID.

@context {page} page The current page.
@context {string} menuID The menu ID.

@example: {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
*/}}

{{- $page := .page }}
{{- $menuID := .menuID }}

{{- with index site.Menus $menuID }}
<nav class="navbar">
  <a href="{{ $page.Site.Home.Permalink }}">
    {{ $logo := resources.Get "images/logo.png" }}
    {{ $logo := $logo.Process "resize 60x" }}
    <img src="{{ $logo.RelPermalink }}" width="40" alt="{{ $page.Site.Params.author }}">
  </a>
<input type="checkbox" id="overlay-input" />
<label for="overlay-input" id="overlay-button"><span></span></label>
  <div id="overlay">
    <ul>
      {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
      <li><button id="mode-toggle">☀️</button></li>
      {{ range $page.AllTranslations }}
      {{ if ne (upper .Language) (upper $page.Lang) }}<li><a href="{{ .RelPermalink }}" hreflang="{{ .Language }}">  {{ upper .Language }}  </a></li>{{ end }}
      {{ end }}
    </ul>
  </div>
</nav>
{{- end }}

{{- define "partials/inline/menu/walk.html" }}
  {{- $page := .page }}
  {{- $page_url:= $page.Permalink | absLangURL }}
  {{- range .menuEntries }}
  {{- $menu_item_url := (cond (strings.HasSuffix .URL "/") .URL (printf "%s/" .URL) ) | absLangURL }}
  {{- $attrs := dict "href" .URL }}

    <li>
      <a
      {{- if eq $menu_item_url $page_url }} class="active_menu" {{- end }}
        {{- range $k, $v := $attrs }}
          {{- with $v }}
            {{- printf " %s=%q" $k $v | safeHTMLAttr }}
          {{- end }}
        {{- end -}}
      >{{ or (T .Identifier) .Name | safeHTML }}</a>
      {{- with .Children }}
        <li>
          {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
        </li>
      {{- end }}
    </li>
  {{- end }}
{{- end }}
